numpy
pandas
jupyterlab
matplotlib
pygraphviz      # probably not required
pytorch-lightning==1.9.4 # probably not required, also quite old
scikit-learn    # probably not required
statsmodels     # probably not required
tensorboard
tensorflow
torch 
torch_geometric # probably not required
torch-scatter   # probably not required
torch-sparse    # probably not required
torchvision 
torchaudio      # probably not required
tqdm

